.imageBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .imageBoxMainPic {
    img {
      width: 100%;
      border-radius: 10px;
    }
  }
  .imageBoxThumbnails {
    display: flex;
    justify-content: space-evenly;
    img{
      width: 23%;
      // max-height: 50px;
      border-radius: 5px;
    }
  }
}
