.overlayCardMain {
  font-family: 'Nunito Sans';
  position: relative;
  img {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .overlayCardInfo {
    position: absolute;
    bottom: 5px;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px 10px;

    .overlayCardTitle {
      font-size: 0.8rem;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: yellow;
    }
  }
}
