.advTitle{
  font-family: 'Nunito Sans';
  font-weight: bold;
}

.advSubTitle{
  font-family: 'Nunito Sans';
  font-size: .8rem;
  letter-spacing: .5px;
  color: #777;
}

.advNormalText{
  font-family: 'Nunito Sans';
  font-size: .7rem;
  letter-spacing: .5px;
  color: #777;
}